<!DOCTYPE html>
<html>
  <head>
    <title>CSS Notes</title>
    <link rel="stylesheet" type="text/css" href="00-setup.css" />   
  </head>
  <body>
  <h1>CSS Notes</h1>
    <div class="wrapper">
      <h2>CSS Statements</h2>
      <p>Four main components include the following: </p>
      <ol> 
        <li><b>Declaration: </b>the statement as a whole with curly braces.</li> 
        <li><b>Selector:</b> the name of the part you want to style.</li>
        <li><b>Property:</b> properties to edit(e.g., width, height, background, etc.)</li>
        <li><b>Value:</b> numbers, colors, urls - values that we assign. </li>
      </ol>
      <p>Here's a photo to illustrate these items:</p>
      <img src="../3-assets/anatomy_css_rule.gif" id="css-photo" >
    </div>
  </body>
</html>

body {
    background-color: #ffbd33;
}

.wrapper {
    border: 10px solid purple;
}
body {
    background-color: #ffbd33;
}

.wrapper {
    border: 10px solid purple;
}

/*This is a CSS comment*/
body {
    background-color: #ffbd33
}

/*This is another CSS comment*/
.wrapper{
    border: 10px solid purple;
}