/* rule-set #1: Everything within the body tag will have a blue background. */
body {
    background-color: blue;
}

/* rule-set #2: Everthing within a css-classes will have a lightgray background.*/
.css-classes {
    background-color:lightgray;
}

/* rule-set #3: All h1 tags within the css-classes class will have a font-size of 18 pixels.*/
.css-classes h1 {
    font-size: 18px;
}

/*rule-set #4: All of the p tags within a css-classes class will have green font 16 pixels high. */
.css-classes p {
    font-size: 16px;
    color: green;
    
}

/* rule-set #5: All the li items within the css-classes class will have a blue font. */
.css-classes li{
    color:navy;
}

/* rule-set #6: All h3 tags within the css-classes class will have italic font. */
.css-classes h3 {
    font: italic 1.2em "Fira Sans"
}

/*rule-set #7: All the li items within the css-classes class will have a dashed red border. */
.css-classes li {
    border: solid
}