/* For Testing */
body {
    background-color: blue;
}*/

/* rule-set #1 */
#number-one{
    color: red;
}

/* rule-set #2 */
#number-two{
    font-size: 16px;
}

/* rule-set #3 */
.first-class{
    color: red;
}

/* rule-set #4 */
.second-class{
    font-size: 24px;
}

/*rule-set #5 */
#number-one{
    text-align: center;
}

/*rule-set #6 */
h1, p {
    background-color: greenyellow;
}