/* 1 */
h1{
    text-align: center;
}

/* 3 */
.margins-padding{
    border: 2px solid blue;
    margin-top:18px;
    margin-right: 100px;
    margin-bottom: 200px;
    margin-left: 200px;
  padding: 40px 20px 20px 40px;  
}

#margin-demo {
    width:400px;
}

#margin-experiment1{
    height: 40px;
    background: blue
    border: 5px solid pink;
    margin: 0px 0px 0px 0px;

}

#margin-experiment2{
    height: 40px;
    background: blue;
      border:5px solid pink;
      margin: 0px 0px 0px 0px;  
}

/* 5 */
#margin-experiment3{
    height: 40px;
    background: blue;
    border: 5px solid pink;
    margin: 5px 10px 20px 0px;
    padding: 10px 10px 10px 10px;
}

#margin-experiment4{
    height: 40 px;
    background: blue;
    border: 16px solid orange;
    margin: 5px 10px 20px 0px;
    padding: 10px 10px 10px 10px;
}

/* 7 */
.padding-class{
    border: 2px solid red;
    margin: 50px 50px 50px 50px;
    padding: 80px 20px 20px 40px;
}

#padding-experiment{
    border: 12px solid yellow;
    margin: 10px 50px 50px 50px;
   /*
   padding-top: 20px;
   padding-right: 20px;
   padding-bottom: 20px;
   padding-left: 20px;
   */
   padding: 20px 20px 20px 20px;
}
